@charset "utf-8";

body {
  overflow: hidden;
}

#wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  border: 1px solid #1e90ff;
  /* background-image: url(../LP1610090440_임진훈_서울지도.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}


/* intro */

/* .introAni.on {
  display: none;
}

.introAni img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/* subway-map */


.subway-map {
  max-width: 1200px;
  height: 900px;
  border: 3px solid blue;
}

canvas {
  border: 3px solid red;
}

/* nav */



#nav {
  border-right: 7px solid #19a449;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
  position: fixed;
  width: 75px;
  right: 0;
  bottom: 0;
  display: flex;
  height: 100%;
  z-index: 9999;
  align-items: center;
  background: #2b343b;
  color: #fff;
  overflow-x: hidden;
  transition: all 0.5s;
}

#nav:hover {
  width: 300px;
}


#nav ul li.active {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #19a449;
}

#nav ul li.active a::before {
  content: '';
  background: #2b343b;
  border-radius: 50%;
  box-shadow: 15px 15px 0 #19a449;
}

#nav ul li.active a::after {
  content: '';
  background: #2b343b;
  border-radius: 50%;
  box-shadow: 15px -15px 0 #19a449;
}

#nav .nav-box {
  margin-right: 7px;
  background: #2b343b;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
}


#nav .nav-box h1 {
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
  height: 160px;
  text-align: center;
}

#nav .nav-box .contact {
  margin-top: auto;
}

#nav .depth1 li a {
  font-size: 20px;
  padding: 20px;
  display: block;

  width: 300px;
  transition: all 0.3;
}

#nav .depth1 li a i {
  margin-right: 20px;
}

#nav .nav-box .contact {
  display: flex;
  justify-content: space-around;
}

.subway-map {
  width: 1250px;
  height: 800px;
  max-width: 1250px;
  overflow-x: hidden;
}

@media screen and (max-width:1024px) {

  .pc {
    display: none;
  }

  #nav {
    border-right: none;
    border-bottom: 7px solid #19a449;
    padding: 0;
    border-radius: 20px 20px 0 0;
    position: fixed;
    width: 100%;
    right: 0;
    bottom: 0;
    display: flex;
    height: 65px;
    z-index: 9999;
    align-items: center;
    background: #2b343b;
    color: #fff;
    overflow: auto;
    transition: all 0.5s;
  }

  #nav:hover {
    width: 100%;
    height: 65px;
  }


  #nav ul li.active {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    background: #19a449;
  }

  #nav ul li.active a::before {
    content: '';
    background: #2b343b;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #19a449;
  }

  #nav ul li.active a::after {
    content: '';
    background: #2b343b;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #19a449;
  }

  #nav .nav-box {
    flex: 1;
    margin-top: 7px;
    background: #2b343b;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: row;
  }


  #nav .nav-box h1 {
    font-size: 30px;
    line-height: 30px;
    display: inline-block;
    height: 50px;
    text-align: center;
  }

  #nav .nav-box .contact {
    margin-top: auto;
  }

  #nav .depth1 {
    display: flex;
    flex-direction: row;
  }
  

  #nav .depth1 li a {
    font-size: 20px;
    padding: 20px;
    display: block;
    height: 100%;
    width: 100%;
    transition: all 0.3;
  }

  #nav .depth1 li a i {
    margin-right: 0px;
  }

  #nav .nav-box .contact {
    display: flex;
    justify-content: space-around;
  }

  /* map */

  #wrap {
    width: 100vw;
    top: 0;
    transform: unset;
    height: 100vh;
    left: 0;
    overflow-x: hidden;
  }

  .subway-map {
    width: 600px;
    height: 800px;
  }

}